<p>You send a message with name: {{ name }} and email : {{ fromEmail }}!</p>
<h1>
    Your message was :"{{ message }}"
</h1>
<p>I will answer you as soon as possible</p>

With regards,<br>
Benjamin Kotsaridis <br>
Software Developer<br>
<br>
<a href="mailto:nebwebsites@nebja.eu">nebwebsites@nebja.eu</a>
