.glowing:before {
  content: '';
  background: linear-gradient(45deg, #1a05ff, #29a9f2, #57bdf7, #87d0fa, #b1dffa, #87d0fa, #57bdf7, #29a9f2, #1a05ff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glowing:active {
  color: #000
}

.glowing:active:after {
  background: darkcyan;
}

.glowing:hover:before {
  opacity: 1;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
