{% block body %}
    <p>
        {% if error %}
            {{ error }}
        {% else %}
            {{ 'twigTemp.resetPassModal' | trans }}{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        {% endif%}
    </p>
{% endblock %}
