body{
    background: url("../../public/img/bg1.jpg") no-repeat center center;
    background-size: cover;
}
.navbar-nav .active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}
.navbar-nav li{
    padding-left: 4px;
}
.container-fluid{
    padding-right: 0.2rem;
    padding-left: 0.1rem;
}
.btn-round{
    border-radius: 50%;
}
.btn-borderless {
    border: 0;
}
.no-padding{
    padding: 0;
}
.padding-sm {
    padding: 0.5rem;
}
.nav-item{
    opacity: 1;
}
.nav-item-zoom{
    transition: all .4s ease-in-out;
}
.nav-item-zoom:hover{
    transform: scale(2);
}
#loginForm{
    overflow: hidden;
    width: 5px;
}
.navbar {
    width: 100vh;
    border-radius: 10px;
    background: rgba(255,255,255,0.4);
    margin: 10px auto;
    -webkit-box-shadow: -12px 8px 33px -7px rgba(0,0,0,1);
    -moz-box-shadow: -12px 8px 33px -7px rgba(0,0,0,1);
    box-shadow: -12px 8px 33px -7px rgba(0,0,0,1);
}
.logged {
    width: 310px;
}
.links{
    color: black;
    text-decoration: none;
}
.links:visited{
    color: inherit;
}
#view-show {
    width: 80%;
    margin: auto;
}
#carouselExampleDark::after{
    opacity: 0.5;
}
.box{
    position: absolute;
    width: inherit;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
