/* Small Screens Only */
@media only screen and (max-width: 1000px) {
  body {
    background: url("../../public/img/bg1.jpg");
    background-size: cover;
  }
  .test-link{
    width: 250px
  }
  #view-show{
    position: relative;
  }
  .mobile-bar {
    position: fixed;
    width: 5%;
    left: -33px;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
    transition: left 1.5s ease, opacity 1.5s ease;
    background-color: #0dcaf0;
    opacity: 0.5;
  }
  .mobile-bar:hover{
    left: 0;
    opacity: 1;
  }
  .row{
    height: 100%;
  }
  .active{
    background-color: rgba(167, 155, 255, 0.5);
  }
}
