<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <base href="/">
        {% block stylesheets %}
            {% if page is same as('app')%}
                {{ encore_entry_link_tags('app') }}
            {% else %}
                {{ encore_entry_link_tags('video') }}
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {% if page is same as('app')%}
                {{ encore_entry_script_tags('app') }}
            {% else %}
                {{ encore_entry_script_tags('video') }}
            {% endif %}
<!--            <script>
                window.fbAsyncInit = function() {
                    FB.init({
                        appId      : '772092627168200',
                        cookie     : true,
                        xfbml      : true,
                        version    : 'v14.0'
                    });

                    FB.AppEvents.logPageView();

                };

                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });
            </script>-->
        {% endblock %}
    </head>
    <body class="glowing">
        {% block body %}{% endblock %}
    </body>
</html>
